<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('정보를 찾을 수 없습니다.')" />

    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <img class="mb-4 img-error" src="../../assets/img/mussuk.jpg" />
                                    <p class="lead">해당 정보를 찾을 수 없습니다.</p>
                                    <a href="../../" th:href="@{/}">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        메인화면으로 돌아가기
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <footer class="py-4 bg-light mt-auto" th:replace="fragments/footer :: footer" />
        </div>

        <div id="footScript" th:replace="fragments/footScript :: footScript" />
        
    </body>
</html>
