<!DOCTYPE html>
<html lang="en">

    <head th:replace="fragments/header :: head('로그인')" />

    <body class="bg-secondary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container" style="margin-top: 0px; margin-bottom:'-0px';">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                                    <div class="card-body">

                                        <form th:action="@{/account/login}" method="post">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputName" name="username" type="text" placeholder="유저명" />
                                                <label for="inputName">유저명</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" name="password" type="password" placeholder="비밀번호" />
                                                <label for="inputPassword">비밀번호</label>
                                            </div>
                                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                                유저명이나 비밀번호를 확인해주세요.
                                            </div>
                                            <div th:if="${param.logout}" class="alert alert-danger" role="alert">
                                                로그아웃 되었습니다.
                                                <!-- <p style="color:red;">로그아웃 되었습니다.</p> -->
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">비밀번호 기억</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">비밀번호를 잊어버리셨나요?</a>
                                                <button class="btn btn-primary" type="submit">로그인</button>
                                            </div>
                                            <div class="small"> <a th:href="@{/}" style="text-align:right">메인화면으로 이동</a></div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a th:href="@{/account/register}">새 계정을 만드시겠어요?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>
