<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('아카이브')" />

    <body class="sb-nav-fixed">
        <!-- 탑 네비게이션 -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:replace="fragments/top :: top" />
        <div id="layoutSidenav">
            <!-- 사이드 네비게이션 -->
            <div id="layoutSidenav_nav" th:replace="fragments/side :: side" />
            
            <div id="layoutSidenav_content">
                <main>
                    
                </main>

                <footer class="py-4 bg-light mt-auto" th:replace="fragments/footer :: footer" />
            </div>
        </div>

        <div id="footScript" th:replace="account/downFootScript :: footScript" />
        
    </body>
</html>
