<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/header :: head('아카이브')" />

    <body class="sb-nav-fixed">
        <!-- 탑 네비게이션 -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:replace="fragments/top :: top" />
        <div id="layoutSidenav">
            <!-- 사이드 네비게이션 -->
            <div id="layoutSidenav_nav" th:replace="fragments/side :: side" />
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card" th:each="comics : ${comics}">
                            <div class="card-header">
                                <div class="card-header-left" th:text="${comics.title}+'&nbsp&nbsp'+${volumes}">제목</div>
                                <div class="card-header-right">
                                    <select class="form-select" th:onchange="if(this.value) location.href='?itemId='+(this.value)">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <option th:each="items : ${items}" th:value="${items.id}" 
                                                th:text="${items.name}" th:selected="${items.id} == ${itemId}" />
                                    </select>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="imageBlockContainer">
                                    <div class="imageBlock mt-2" th:each="content : ${contents}">
                                        <img class="contentImage" th:src="'data:content/jpg;base64,'+${content.contentSource}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <footer class="py-4 bg-light mt-auto" th:replace="fragments/footer :: footer" />
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="../../js/scripts.js"></script>
        <script src="../../js/datatables-simple-demo.js"></script>
        <script src="../../js/jquery-3.3.1.min.js"></script>
        <script src="../../js/popper.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
    </body>
</html>
