/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html, body {
  width: 100%;
  height: 100%;
}

.color_container {
  height:100%;
  height: 93%;
  padding-left: 60px;
  padding-right: 60px;
  background: rgba(7, 50, 51, 0.753);
}

.main_container {
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.tab_container { 
  width: 65%;
  height: 88%;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 20px;
  text-align: center;
  float:left;
}
.tab-content { 
  width: 100%;
  height: 88%;
  border: 1px solid rgb(223, 220, 220); 
}
.tab-content-top { 
  width: 100%;
  height: 90%;
  border: 1px solid rgb(223, 220, 220); 
}
.tab-content-bottom-out { 
  width: 100%;
  height: 80px;
  text-align: center;
}
.tab-content-bottom-in { 
  margin-top: 13px;
  display: inline-block;
}

.contents { 
  width:160px; 
  height:190px;
  margin:45px 10px 25px 30px;
  border: 1px solid black; 
  float:left;
}
.contents > .image_thumbnail { 
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.contents > .content {
  position: absolute;
  margin-left: -1px;
  margin-top: -39px;
}
.contents > .content > .border {
  height: 40px;
  width: 160px;
  background-color: black;
  opacity: 0.8;
}
.contents > .content > .border > .titleCss {
  color: whitesmoke;
  margin-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  text-align: center;
  width: 100%;
  height: 64px;
  border: 1px solid black; 
}